nav {
    display: block;
}

.home {
    height: 1080px;
    background-color: aqua;
}

.berita {
    height: 1080px;
    background-color: aquamarine;
}

.cuaca {
    height: 1080px;
    background-color: aqua;
}

.tentang {
    height: 1080px;
}